/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .wrapper {
   overflow: hidden;
   padding-left: 18px;
   padding-right: 18px;
   max-width: 1236px;
   margin-left: auto;
   margin-right: auto;
 }

 .wrapper__body {
   padding-top: 40px;
 }

 .wrapper__body--item {
   margin-top: 20px;
   background-color: #2F5572
 }

 body {
 	font-family: Tahoma;
 }

 img {
   max-width: 100%;
   height: auto;
 }




 /*For calendar in index.html.erb for tasks*/
 /* declare a 7 column grid on the table */
 #calendar {
 	width: 100%;
   display: grid;
   grid-template-columns: repeat(7, 1fr);
 }

 #calendar tr, #calendar tbody {
   grid-column: 1 / -1;
   display: grid;
   grid-template-columns: repeat(7, 1fr);
  width: 100%;
 }

 caption {
 	text-align: center;
   grid-column: 1 / -1;
   font-size: 150%;
   font-weight: bold;
   padding: 10px 0;
 }

 #calendar a {
 	color: #8e352e;
 	text-decoration: none;
 }

 #calendar td, #calendar th {
 	padding: 5px;
 	box-sizing:border-box;
 	border: 1px solid #ccc;
 }

 #calendar .weekdays {
 	background: #7549F0;
 }


 #calendar .weekdays th {
 	text-align: center;
 	text-transform: uppercase;
 	line-height: 20px;
 	border: none !important;
 	padding: 10px 6px;
 	color: #fff;
 	font-size: 13px;
 }

 #calendar td {
 	min-height: 180px;
   display: flex;
   flex-direction: column;
 }

 #calendar .days li:hover {
 	background: #d3d3d3;
 }

 #calendar .date {
 	text-align: center;
 	margin-bottom: 5px;
 	padding: 4px;
 	background: #333;
 	color: #fff;
 	width: 20px;
 	border-radius: 50%;
   flex: 0 0 auto;
   align-self: flex-end;
 }

 #calendar .event {
   flex: 0 0 auto;
 	font-size: 13px;
 	border-radius: 4px;
 	padding: 5px;
 	margin-bottom: 5px;
 	line-height: 14px;
 	background: #e4f2f2;
 	border: 1px solid #b5dbdc;
 	color: #009aaf;
 	text-decoration: none;
 }

 #calendar .event-desc {
 	color: #666;
 	margin: 3px 0 7px 0;
 	text-decoration: none;
 }

 #calendar .other-month {
 	background: #f5f5f5;
 	color: #666;
 }

 /* ============================
 				Mobile Responsiveness
    ============================*/


 @media(max-width: 768px) {

 	#calendar .weekdays, #calendar .other-month {
 		display: none;
 	}

 	#calendar li {
 		height: auto !important;
 		border: 1px solid #ededed;
 		width: 100%;
 		padding: 10px;
 		margin-bottom: -1px;
 	}

   #calendar, #calendar tr, #calendar tbody {
     grid-template-columns: 1fr;
   }

   #calendar  tr {
     grid-column: 1 / 2;
   }

 	#calendar .date {
 		align-self: flex-start;
 	}

   .error {
     color: red;
   }
