

.site-header {
  // position: absolute;
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: rgb(195, 204, 212);

}

.site-header-splash {
  // position: absolute;
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: rgba(47, 85, 114, 0.3);

}

.site-header__logo {
  position: absolute;
  padding: 0 36px;
  color: #FFF;
  text-decoration: none;
  font-size: 45px;
  top: 0;
  font-family: 'Lobster', cursive;

}

.primary-nav__ul > ul {
  margin: 0;
  padding: 0;
}

.primary-nav__li {
  list-style: none;
  float: right;
  padding-right: 20px;
  color: #2F5572;
}

.primary-nav__a {
  color: #FFF;
  text-decoration: none;

}

li.drop-down {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(47, 85, 114, 0.3);
  max-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

li a:hover, .drop-down:hover .dropbtn {
  background-color: rgba(47, 85, 114, 0.3);
}

.drop-down:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {background-color: rgba(47, 85, 114, 0.3);
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.clearfix::after {
   content: "";
   clear: both;
   display: table;
 }
