// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-style-9{
	max-width: 450px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 2px solid #7549F0;
}

.form-style-9 input{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.form-style-9 input{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

}
.form-style-9 input{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;

}
.form-style-9 input[type="text"]{
	width: 100%;
	height: 50px;
}
.form-style-9 input[type="button"],
.form-style-9 input[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px;
	-webkit-box-shadow: inset 0px 1px 0px 0px ;
	box-shadow: inset 0px 0px 0px 0px ;
	background-color: #28739E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
}
.form-style-9 input[type="button"]:hover,
.form-style-9 input[type="submit"]:hover {
	background-color: #7549F0;
}


.form-style-9 #delete_button {
  color: red;
  border: none;
  padding: 16px 0;
  font-size: normal;
}

.form-style-9 .comment {
  background-color: rgb(195, 204, 212);
}
