// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrapper h3 a {
  color: #7549F0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  background-color: #FAFAFA;
  padding: 5px;
}
.grid-item {
  /*background-color: rgb(195, 204, 212);*/
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.grid-container .urgent a {
  color: #E1126C;
  text-decoration: none;
}

.wrapper-for-calendar-profile {

}

.row

#calendar-user {
 width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#calendar-user tr, #calendar-user tbody {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
 width: 100%;
}

#calendar-user caption {
  text-align: center;
   grid-column: 1 / -1;
   font-size: 50px;
   font-weight: bold;
   padding: 10px 0;
}

#calendar-user a {
 color: #8e352e;
 text-decoration: none;
}

#calendar-user td, #calendar-user th {
 padding: 5px;
 box-sizing:border-box;
 border: 1px solid #ccc;
}

#calendar-user .weekdays {
 background: #7549F0;
}


#calendar-user .weekdays th {
  text-align: center;
 	text-transform: uppercase;
 	line-height: 20px;
 	border: none !important;
 	padding: 10px 6px;
 	color: #fff;
 	font-size: 9px;
}

#calendar-user td {
  height: 50px;
  display: flex;
  flex-direction: column;
}

#calendar-user.days li:hover {
 background: #d3d3d3;
}

#calendar-user .date {
 text-align: center;
 /*margin-bottom: 1px;*/
 padding: 0px;
 /*background: #333;*/
 color: #333;
 width: 20px;
 font-weight: bold;
 /*border-radius: 50%;*/
  flex: 0 0 auto;
  align-self: flex-end;
}

#calendar-user .event {
  flex: 0 0 auto;
 font-size: 20px;
 border-radius: 3px;
 padding-left: 9px;
 line-height: 15px;
 background: #e4f2f2;
 border: 1px solid #b5dbdc;
 color: #009aaf;
 text-decoration: none;
}

#calendar-user .event-desc a {
 color: #143D84;
 margin: 3px 0 7px 0;
 text-decoration: none;
}

#calendar-user .urgent a {
 color: #E1126C;
 margin: 3px 0 7px 0;
 text-decoration: none;
}

#calendar-user .other-month {
 background: #f5f5f5;
 color: #666;
}
