<div class="large-hero">
  <%= image_tag("computer-desk-ebook.jpg", alt: "Pigeons on artsy desert hill")%>
</div>
<div id="landing_logo">
  <h1>KoDu</h1>
</div>
<div class="large-hero--text-content">
<!--<h1>KoDu</h1><br>-->
</div>
