<div class="wrapper large-hero">
  <div class="large-hero-">
    <%= image_tag("olympic-wide.jpg", alt: "Olympic National Park")%>
  </div>

  <div class="large-hero--text-content">
  <h1>TaskApp</h1><br>
  </div>
</div>
