<div class="wrapper large-hero">
  <div class="large-hero-graphic">
    <img src="https://www.audubon.org/sites/default/files/styles/hero_image/public/olympic.jpg?itok=h-g9jAl0" alt="olympic national park">
  </div>

  <div class="large-hero--text-content">
  <h1>TaskApp</h1><br>
  </div>
</div>
