<div class="large-hero-">
  <%= image_tag("artistic-artwork.jpg", alt: "Olympic National Park")%>
</div>
<div id="landing_logo">
  <h1>KoDu</h1>
</div>
<div class="large-hero--text-content">
<!--<h1>KoDu</h1><br>-->
</div>
